<p id="notice"><%= notice %></p>

<p>
  <strong>User agent:</strong>
  <%= @device.user_agent %>
</p>

<p>
  <strong>Endpoint:</strong>
  <%= @device.endpoint %>
</p>

<p>
  <strong>P256dh:</strong>
  <%= @device.p256dh %>
</p>

<p>
  <strong>Auth:</strong>
  <%= @device.auth %>
</p>

<p>
  <strong>User:</strong>
  <%= @device.user %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
