<p id="notice"><%= notice %></p>

<p>
  <strong>Animal type:</strong>
  <%= @pet.animal_type %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<p>
  <strong>Lost on:</strong>
  <%= @pet.lost_on %>
</p>

<p>
  <strong>Lost in:</strong>
  <%= @pet.lost_in %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>



<!--Fotos de pet -->


<div class="row">
  <ul class="thumbnails files">
<% unless @pet.images.empty? %>
  <% @pet.images.each do |pic| %>
    <li class="span3" id="image_<%= pic.id %>">
    <div class="thumbnail">
     <!-- <%= image_tag pic.image.url(:thumb) %> -->
      <%=link_to image_tag(pic.image.url(:thumb)), pic.image.url(:original), :popup=>['original_image', 'height=700,width=900'] %>
      <% if can? :destroy, pic %>
      <%=
          link_to "Delete image", [@pet,pic],
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>
       <% end %>   
      <div class="caption">
        <p style="text-align: center;">
       <!-- <%= link_to "Edit image", image_path(pic) %> -->

        

        </p>
      </div>
    </div>
    </li>
  <% end %>
<% end %>
</ul>
</div>


<!--Listar todos los comentarios del pet mostrado -->

  <table>
    <tr>
      <th>Comentario</th>
      <th>Usuario</th>
      <th>Creado</th>
      <th>asd</th>
    </tr>
    <tr>
      <% @pet.comments.each do |comment|%>
      <td><%= comment.description %></td>
      <td><%= comment.user.name %></td>
      <td><%= comment.created_at %></td>
      <td><%= link_to 'Edit',edit_pet_comment_path(@pet,comment)%></td>
      <td><%= link_to 'Destroy', [@pet,comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>


  <!--Formulario para ingresar comentarios -->


<%= form_for [@pet,@comment] do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :description, "Comentario" %><br>
    <%= f.text_area :description %>
<!--  </div>
  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.text_field :pet_id %>
  </div>
  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.text_field :pet_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  -->

  <div class="actions">
  
    <%= f.submit %>
  </div>
<% end %>

