
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "centered-columns" %>
  <%= stylesheet_link_tag "ejemploPerdido" %>
  <%= stylesheet_link_tag "photoswipe" %>
  <%= stylesheet_link_tag "default-skin" %>
<% end %>

<% content_for :js do %>

  <%= javascript_include_tag "gmaps" %>
  <%= javascript_include_tag "photoswipe" %>
  <%= javascript_include_tag "photoswipe-ui-default" %>
  <script>
    $(document).ready(function() { 
      if($('#map').length ){
        onlymap("<%=@pet.lost_in%>");
      }
      <% if @pet.images.present? %>
            var openPhotoSwipe = function() {
            var pswpElement = document.querySelectorAll('.pswp')[0];
      

            var items = [
              <% @pet.images.each do |attach| %>
              {
                src: '<%=image_path attach.image%>'
                <%@dim=Paperclip::Geometry.from_file(attach.image)%>,
                w: <%=@dim.width.to_i%>,
                h: <%=@dim.height.to_i%>
              },
      <% end %>
            ];
          
        
            var options = {
                    
              history: false,
              focus: false,
      
              showAnimationDuration: 0,
              hideAnimationDuration: 0
              
            };
          
            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
          };
          document.getElementById('btn').onclick = openPhotoSwipe;
      <% end %>
      
      jQuery(".best_in_place").best_in_place();
      
      

      function Print()
{
var width = $(window).width() * 0.9;
    var height = $(window).height() * 0.9;
    var content = '<!DOCTYPE html>' + 
                  '<html>' +
                  '<head><title>Rescate Animal Maipú</title></head>' +
                  '<body onload="window.focus(); window.print(); window.close();">' + 
    '<b><h1 align="center">Animal Encontrado</h1></b>'+
<% unless @pet.images.empty? %>
            '<%= image_tag @pet.images.first.image.url(:original), style:"width: 100%;"%>'+
<% else %>
            '<%= image_tag ('logo.jpg'), align:"middle" %>'+
<% end %>
'<h2 align="center"><%=@pet.lost_in%> </h2>'+
'<h3 align="left">Sexo:<%=@pet.sex%></h3>'+
'<h3 align="left">Raza:<%=@pet.race.name%></h3>'+
'<h3 align="left"><%=@pet.description%></h4>'+
'<h2 align= "left">Contacto</h3>'+
'<h3 align="left">Email:<%=@pet.user.email%></h3>'+
'<h3 align="left">N° Telefónico:<%=@pet.user.phone%></h3>'+
'<h4 align="center"> Visítanos en rescateanimalmaipu.cl </h4>'+
'</body>' +
'</html>';
    var options = "toolbar=no,location=no,directories=no,menubar=no,scrollbars=yes,width=" + width + ",height=" + height;
    var printWindow = window.open('', 'print', options);
    printWindow.document.open();
    printWindow.document.write(content);
    printWindow.document.close();
    printWindow.focus();
}
  document.getElementById('imprimir').onclick= Print;





    });

  </script>

<% end %>

<div class="container-fluid">
    <div class="row row-centered">
    <div class="panel panel-default col-xs-12 col-md-8 col-centered">
      <div class="col-md-4">
          <% unless @pet.images.empty? %>
            <%= image_tag @pet.images.first.image.url(:original), :class=>"img-responsive", id:"print1"%>
            <% else %>
            <%= image_tag ('logo.jpg'), :class=>"img-responsive", id:"print1" %>
          <% end %>
                <dl class="dl-horizontal dl-info-user">
          <dt><i class="fa fa-user" aria-hidden="true"></i></dt>
          <dd><%=@pet.user.name%></dd>
          <hr>
          <% if @pet.user.phone.presence %>
          <dt><i class="fa fa-phone" aria-hidden="true"></i></dt>
          <dd><%=@pet.user.phone%></dd>
          <hr>
          <% end %>
          <dt><i class="fa fa-envelope" aria-hidden="true"></i></dt>
          <dd><%=@pet.user.email%></dd>
        </dl>





      <% if (@pet.images.count==1) %>
      <button id="btn" class="btn btn-default"><i class="fa fa-picture-o fa-lg" aria-hidden="true"></i      >
      Ver foto</button>
      <% elsif (@pet.images.count>1)%>
              <button id="btn" class="btn btn-default"><i class="fa fa-picture-o fa-lg" aria-hidden="true"></i      >
      Mas fotos</button>
      <% end %> 
      <button id="imprimir" class="btn btn-default"><i class="fa fa-print fa-lg" aria-hidden="true"></i      > Imprimir</button>
      <% if (can? :edit, @pet) or (can? :destroy, @pet) %>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cog fa-lg"></i> Opciones<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% if can? :edit, @pet %>
        <% if @pet.solved == false %>
          <li> 
            <%= link_to pet_path(@pet, pet: {solved: true}), method: :put do %>
              <i class="fa fa-check fa-lg"></i> Marcar como resuelto
            <% end %>
          </li>
        <% elsif %>
          <li> 
            <%= link_to pet_path(@pet, pet: {solved: false}), method: :put do %>
              <i class="fa fa-times fa-lg"></i> Marcar como no resuelto
            <% end %>
          </li>
        <% end %>
    <li><%= link_to edit_pet_path(@pet) do%>
      <i class="fa fa-pencil fa-lg"></i> Editar
      <% end %>
    </li>


    <% end %>

    <% if can? :destroy, @pet %>
    <li><%= link_to @pet, method: :delete, data: { confirm: '¿Estás seguro?' } do%>
      <i class="fa fa-trash-o fa-lg"></i> Eliminar
      <% end %>
    </li>
    <% end %>    
    
  </ul>
</div>
<% end %>


      <!-- Root element of PhotoSwipe. Must have class pswp. -->
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      
          <!-- Background of PhotoSwipe. 
               It's a separate element, as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>
      
          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">
      
              <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory.       -->
              <div class="pswp__container">
                  <!-- don't modify these 3 pswp__item elements, data is added later on -->
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
              </div>
      
              <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.       -->
              <div class="pswp__ui pswp__ui--hidden">
      
                  <div class="pswp__top-bar">
      
                      <!--  Controls are self-explanatory. Order can be changed. -->
      
                      <div class="pswp__counter"></div>
      
                      <button class="pswp__button pswp__button--close" title="Cerrar"></button>
      
                      <button class="pswp__button pswp__button--share" title="Compartir"></button>
      
                      <button class="pswp__button pswp__button--fs" title="Pantalla completa"></button      >
      
                      <button class="pswp__button pswp__button--zoom" title="Zoom +/-"></button>
      
                      <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                      <!-- element will get class pswp__preloader--active when preloader is running       -->
                      <div class="pswp__preloader">
                          <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                              <div class="pswp__preloader__donut"></div>
                            </div>
                          </div>
                      </div>
                  </div>
      
                  <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                      <div class="pswp__share-tooltip"></div> 
                  </div>
      
                  <button class="pswp__button pswp__button--arrow--left" title="Anterior">
                  </button>
      
                  <button class="pswp__button pswp__button--arrow--right" title="Siguiente">
                  </button>
      
                  <div class="pswp__caption">
                      <div class="pswp__caption__center"></div>
                  </div>
      
                </div>
      
              </div>
      
      </div>
    </div>

      <div class="panel-body col-md-8 ">
        <dl class="dl-horizontal">
        <% if @pet.solved == true %>
        <div class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
          <strong>Resuelta!</strong> Esta publicación ha sido marcada como resuelta!.
        </div>
        <% end %>
          <dt>Animal</dt>
          <dd><%=@pet.animal_type%></dd>
          <hr>
          <dt>Raza</dt>
          <dd><%=@pet.race.name%></dd>
          <hr>
          <dt>Nombre</dt>
          <dd><%=@pet.name%></dd>
          <hr>
          <dt>Edad</dt>
          <dd><%=@pet.age%></dd>
          <hr>                     
          <dt>Sexo</dt>
          <dd><%=@pet.sex%></dd>
          <hr>
          <dt>Lugar de extravío</dt>
          <dd><%=@pet.lost_in%></dd>
          <hr>
          <dt>Fecha de extravío</dt>
          <dd><%=@pet.lost_on.strftime("%d/%m/%Y")%></dd>
          <hr>          
          <dt>Descripción</dt>
          <dd><%=@pet.description%></dd>
          <hr>
          
          <dt>Comparte!</dt>
          <dd>
          <%= social_share_button_tag("Mascota perdida", desc: @pet.lost_in) %>
          </dd>

        </dl>

        <div class="col-md-12" id="map" style="height:200px;"></div>

      </div>
      

    </div>
  </div>
</div>


  <div class="container">
    <div class="row row-centered" id="all_comments">
    <h3>Comentarios</h3>
      <% @i=1 %>
      <% @pet.comments.each_with_index do |comment,index|%>
        <div class="col-md-8 col-sm-12 col-xs-12 col-centered" id="comment_box" >
          <div class="col-md-2 col-xs-2 col-sm-2">
            <div class="thumbnail">
              <%= image_tag comment.user.avatar, class: "img-responsive" %>
            </div>
          </div>
      
          <div class="col-md-10 col-xs-10 col-sm-10">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong><%=comment.user.name%></strong>
                <br>
                 <span class="text-muted">Hace <%=distance_of_time_in_words(Time.now,comment.created_at)%></span>
                 <div class="pull-right">
                 <% if can? :destroy, @pet%>
                    <a role="button" data-toggle="collapse" data-target="#comment<%=index%>"><i class="fa fa-id-card-o fa-lg fa-fw" aria-hidden="true"></i></a>
                    <%end%>

                    <% if can? :edit, comment %>
                        <a id="activator<%=index%>"  role="button"><i class="fa fa-pencil fa-lg fa-fw" aria-hidden="true"></i></a>
                     <% end %>
                     <% if can? :destroy, comment %>
                        <%= link_to raw('<i class="fa fa-trash fa-lg fa-fw" aria-hidden="true"></i>'), [@pet,comment], method: :delete, data: { confirm: '¿Estás seguro?' }, :remote => true, :class => 'delete_comment' %>

                     <%end%>
                    </div>
                    <% if can? :destroy, @pet%>
                    <div id="comment<%=index%>" class="collapse">
                      <dl class="dl-horizontal dl-data-comment">
                        <hr>
                        <% if comment.user.phone.presence %>
                        <dt><i class="fa fa-phone" aria-hidden="true"></i></dt>
                        <dd><%=comment.user.phone%></dd>
                        <hr>
                        <% end %>
                        <dt><i class="fa fa-envelope" aria-hidden="true"></i></dt>
                        <dd><%=comment.user.email%></dd>
                      </dl>
                    </div>

                  <% end %>
              </div>
            <div class="panel-body media-body">
            
              <%= best_in_place_if (can? :edit, comment),   [@pet,comment], :description, :as => :textarea, :inner_class =>"comment-area", :activator => "#activator#{index}",:ok_button => "Listo",:ok_button_class=>"btn btn-default" %>

            </div>
            </div>
          </div>
        
        </div>
      <% end%>
<% if user_signed_in? %>
        <div class="col-md-8 col-sm-12 col-xs-12 col-centered" id="new_comment_box" >
          <div class="col-md-2 col-xs-2 col-sm-2">
            <div class="thumbnail">
              <%= image_tag current_user.avatar, class: "img-responsive" %>
            </div>
          </div>
            <div class="col-md-10 col-xs-10 col-sm-10">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong><%=current_user.name%></strong>
                </div>
                <div class="panel-body media-body">
                  <%= form_for [@pet,@comment] , remote: true do |f| %>
                  <%= f.text_area :description, class: "comment-area", id: "comment_area_new", placeholder: "Ingrese comentario...", "required"=>true %>
                  <%= f.submit 'Crear comentario', :role => 'button', :class => "btn btn-default",data: { disable_with: "Por favor espere..." } %>
                  <%end %>
                </div>
              </div>
            </div>
        </div>
<% end %>
    </div> 
  </div>