<%= simple_form_for(@information) do |f| %>
  <%= f.error_notification %>
<h1 class="page-header">  <%= f.input :title,label:false ,placeholder:"Título",required: false %></h1>
    <%= f.input :description, as: :summernote, label:false, required: false %>

  <div class="form-actions">
  <% if @information.persisted? %>
    <%= f.button :submit, "Actualizar información" %>
    <% elsif %>
    <%= f.button :submit, "Crear información", class: "btn btn-success", style:"margin-bottom:15px;" %>
      <% end %>
  </div>
<% end %>