<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "info" %>
<% end %>


<div class="container-fluid" style="padding-left:0px;">

  <div class="col-md-2" style="padding-left:0px;">
    
  <div class="row">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="  #bs-example-navbar-collapse-2" aria-expanded="false">
  <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" style="background-color:black;"></span>
          <span class="icon-bar" style="background-color:black;"></span>
          <span class="icon-bar" style="background-color:black;"></span>
  </button>
  </div>
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2"  style="padding-left:0px;">
      <ul class="nav nav-pills nav-stacked panel panel-default">
    <li role="presentation" class="active"><a href="#">Notificaciones</a></li>
    <li role="presentation"><a href="#">Mis temas creados</a></li>
    
  
  </ul>
  </div>
  </div>

<div class="col-md-10 panel panel-default">
  <h1 class="page-header centered"> Notificaciones</h1>
  <div class="row">
    <div class="col-md-12">
      <% @notifications.each do |notification| %>
        <div class="row notification-row"">
          <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
          <div class="thumbnail">
            <%=image_tag(notification.pic_url, class: "img-responsive" )%>
            </div>
          </div>
          <a href="<%=notification_url(notification)%>" class="notification-url">
          <div class="col-xs-9 col-sm-9 col-md-11 col-lg-11 title">
            <blockquote>
              <p>
              <% if notification.seen == false %>
              <span class="label label-danger">Nuevo</span>
              <% end %>
                <%= notification.titulo %>
                
              </p> <small><%= notification.mensaje %> <cite>Hace <%=distance_of_time_in_words(Time.now,notification.created_at)%></cite></small>

            </blockquote>
          </div>
          </a>

        </div>

      <% end %>
      <%= will_paginate @notifications, :next_label => ">>", :previous_label => "<<"%>
  </div>
</div>


</div>
</div>

