<p id="notice"><%= notice %></p>

<p>
  <strong>mensaje:</strong>
  <%= @notification.mensaje %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @notification.seen %>
</p>

<p>
  <strong>titulo :</strong>
  <%= @notification.titulo %>
</p>

<p>
  <strong>user name:</strong>
  <%= @notification.user.name %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
