<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "auth" %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag "gmaps" %>
  <script>
    $(document).ready(function() { 
  if( $('#gmaps-canvas').length  ) {
    gmaps_init();
    autocomplete_init();
  }; 
  });
  </script>
<% end %>

<div class="panel panel-default col-md-4 col-md-offset-4">
<h2>Agregar usuario</h2>

<%= form_for(@user, :html => {:multipart => true, :class => 'form-group'}) do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger ">
      <h4>Se encontraron los siguientes errores:</h4>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
    <%= f.label :name, "Nombre", class: "control-label" %><br />
    <%= f.text_field :name, autofocus: true, class:"form-control", "required"=>true %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "control-label" %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control", "required"=>true %>
  </div>

  <div class="form-group">
    <%= f.label :address, class: "control-label" %><i> (Usaremos tu dirección para enviarte notificaciones por cercanía.)(Opcional)</i> <br />
    <%= f.text_field :address, autofocus: true, class:"form-control", id:"gmaps-input-address"%>
    <div id='gmaps-error'></div>
    <div id='gmaps-canvas' class=" hidden"></div>
  </div>

  <div class="form-group">
    <%= f.label :phone, "Teléfono", class: "control-label" %><i> (Opcional)</i><br />
    <%= f.telephone_field :phone, class: "form-control"%>
  </div>

   <div class="form-group">
      <%= f.label :avatar,"¡Sube una foto de perfil!", class: "control-label" %><i> (Opcional)</i>  
      <%= f.file_field :avatar,class: "form-control" %>
  </div>   

  <div class="form-group">
    <%= f.label :password,"Contraseña", class: "control-label" %>
    <% if @minimum_password_length %>
    <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control", "required"=>true  %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation,"Confirmar Contraseña", class: "control-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", "required"=>true %>
  </div>

    <div class="form-group">
    <%= f.label :role_id,"Rol", class: "control-label" %><br />

    <%= f.select :role_id, [["Miembro",2],["Administrador",1]],{},{:class => 'form-control'}%>
  </div>

  <div class="actions">
    <%= f.submit "Listo!" ,class:"btn btn-primary"%>
  </div>
<% end %>

</div>