<div class="banner">
		

      
        
         
            <div id="fullcarousel-example" data-interval="3000" class="carousel slide"
            data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                 <%=image_tag("1.jpg", alt: "" )%>
                  <div class="carousel-caption">
                    <h2>Title</h2>
                    <p>Description</p>
                  </div>
                </div>
                <div class="item">
                 <%=image_tag("2.jpg", alt: "" )%>
                  <div class="carousel-caption">
                    <h2>Title</h2>
                    <p>Description</p>
                  </div>
                </div>
                <div class="item">
                  <%=image_tag("3.jpg", alt: "" )%>
                  <div class="carousel-caption">
                    <h2>Title</h2>
                    <p>Description</p>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
              <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
            </div>

           
          
   
	</div>

	<div class="content">
			<div class="welcome-section">
				<div class="container">
					<div class="col-md-6 welcome-grid text-center">
						<h3>Welcome</h3>
						<h5>Duis autem vel eum iriure dolor in hendrerit in vulputa</h5>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. littera gothica.</p>
					</div>
					<div class="col-md-6 images">
						<div class="img1">
							<%=image_tag("z6.jpg", class:"img-responsive", alt: "" )%>
						</div>
						<div class="img2">
						<%=image_tag("z7.jpg", class:"img-responsive", alt: "" )%>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="about-section text-center">
				<div class="container">
					<h2>About</h2>
					<div class="col-md-6 about-section-grid text-left">
						<h4>Mirum est notare quam littera </h4>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio</p>
					</div>
					<div class="col-md-6 about-section-grid text-left">
						<h4>Mirum est notare quam littera </h4>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio</p>
					</div>
					<div class="clearfix"></div>
					<a href="about.html" class="btn btn-1 btn-1c">read more</a>
					<a class="animated infinite bounceOut">bouuunce </a>
				</div>
			</div>
			
		</div>

