<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "index" %>
  <%= stylesheet_link_tag "centered-columns" %>
<% end %>

	<div class="banner">
     
        <div id="fullcarousel-example" data-interval="3000" class="carousel slide"
            data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                 <%=image_tag("mejora4.jpg", alt: "" )%>
                  	<div class="carousel-caption">
                    </div>
                </div>
                
                <div class="item">
                 <%=image_tag("mejorado2.jpg", alt: "" )%>
                  	<div class="carousel-caption">
                    </div>
                </div>

                <div class="item">
                  <%=image_tag("mejorado3.jpg", alt: "" )%>
                  	<div class="carousel-caption">
                    </div>
                </div>
            </div>
              <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
              <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
        </div> 
	</div>


	<div class="container">
		<br>
		<h1 class="text-center text-primary"> Conoce nuestras funcionalidades</h1>
		<div class="row">


        	<div class=" col-xs-6 col-md-3 col-circle">
        	<h3 class="text-center">Perdidos</h3>
          <a href=<%=pets_path%>>
         	<div class="circle-avatar" style="background-image:url(<%=image_url('perroperdido.jpg')%>)"></div></a>     <p class="text-center"> Si se extravio tu mascota, este es el lugar indicado para ingresar tu caso.</p>
            </div>

          	<div class=" col-xs-6 col-md-3 col-circle">
          	<h3 class="text-center">Encontrados</h3>
            <a href=<%=animals_path%>>
         	<div class="circle-avatar" style="background-image:url(<%=image_url('perroencontrado.jpg')%>)"></div></a>
            <p class="text-center">Si encuentras un animal en la calle y presumes que tiene dueño, ingresalo en este modulo. </p>
            </div>

            <div class=" col-xs-6 col-md-3 col-circle">
            <h3 class="text-center">Adopciones</h3>
            <a href=<%=adoptions_path%>>
         	<div class="circle-avatar" style="background-image:url(<%=image_url('gatoenadopcion.jpg')%>)"></div></a>
            <p class="text-center">Este modulo permite buscar la mascota que desees adoptar. </p>
            </div>

          	<div class=" col-xs-6 col-md-3 col-circle">
          	<h3 class="text-center">En riesgo</h3>
            <a href=<%=risks_path%>>
         	<div class="circle-avatar" style="background-image:url(<%=image_url('animalenriesgo.jpg')%>)"></div></a>
            <p class="text-center">Si ves alguna situacion que atente contra la seguridad de un animal, ingresalo aqui.</p>
            </div>
            
         </div>
		<br>
	</div>

			
		<div class="row about-section text-center">

			
		<div class="container">
		<br>
		<h1 class="text-center text-primary"> Agregados recientemente</h1>
		<div class="row">


        	<div class=" col-xs-6 col-md-3 col-circle">
        	<h3 class="text-center">Mascotas perdidas</h3>
          <% if Pet.last.present? %>
            <% img=Pet.last.images.first.image.url(:original) %>
            <% url=pet_path(Pet.last) %>
          <% else %>
            <% img=image_url('logo.jpg')%>
            <% url= pets_path %>
          <% end %>
         	<div class=" nocircle" style="background-image:url(<%=img%>)"></div>     
         	<a class=" red btn btn-primary center-block  " href="<%=url%>">
                Ver más <span class="glyphicon glyphicon-chevron-right">
</span></a>
            </div>

          	<div class=" col-xs-6 col-md-3 col-circle">
          	<h3 class="text-center">Animales encontrados </h3>
             <% if Animal.last.present? %>
               <% img=Animal.last.images.first.image.url(:original) %>
               <% url=animal_path(Animal.last) %>
             <% else %>
               <% img=image_url('logo.jpg')%>
               <% url= animals_path %>
             <% end %>
         	<div class="nocircle" style="background-image:url(<%=img%>)"></div>
            <a class=" red btn btn-primary center-block  " href="<%=url%>">
                Ver más <span class="glyphicon glyphicon-chevron-right">
</span></a>
            </div>

            <div class=" col-xs-6 col-md-3 col-circle">
            <h3 class="text-center">Adopta una mascota</h3>
          <% if Adoption.last.present? %>
            <% img=Adoption.last.images.first.image.url(:original) %>
            <% url=adoption_path(Adoption.last) %>
          <% else %>
            <% img=image_url('logo.jpg')%>
            <% url= adoptions_path %>
          <% end %>            
         	<div class="nocircle" style="background-image:url(<%=img%>)"></div>
            <a class=" red btn btn-primary center-block  " href="<%=url%>">
                Ver más <span class="glyphicon glyphicon-chevron-right">
</span></a>
            </div>

          	<div class=" col-xs-6 col-md-3 col-circle">
          	<h3 class="text-center">Animales en riesgo</h3>
          <% if Risk.last.present? %>
            <% img=Risk.last.images.first.image.url(:original) %>
            <% url=risk_path(Risk.last) %>
          <% else %>
            <% img=image_url('logo.jpg')%>
            <% url= risks_path %>
          <% end %>            
         	<div class="nocircle" style="background-image:url(<%=img%>)"></div>
            <a class=" red btn btn-primary center-block  " href="<%=url%>">
                Ver más <span class="glyphicon glyphicon-chevron-right">
</span></a>
            </div>
            
         </div>
		<br>
	</div>
        
		</div>	

		

	
			
		

		

