<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "gmaps" %>
    <%= stylesheet_link_tag "centered-columns" %>
  <%= stylesheet_link_tag "ejemploPerdido" %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag "jquery.backstretch" %>
  <%= javascript_include_tag "gmaps" %>
  <script>
    $(document).ready(function() { 
  if( $('#gmaps-canvas').length  ) {
    gmaps_init();
    autocomplete_init();
  }; 
  

});
  </script>
<% end %>


<%= form_for @animal, :html => {:multipart => true,:class => "form-horizontal form-bottom"}  do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :animal_type, "Tipo de animal", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :animal_type, ["Gato","Perro","Otro" ],{},{class: 'form-control'}%>
    </div>  
  </div>

  <div class="form-group">
    <%= f.label :race_id, "Raza", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% @races=Race.all %>
      <% options = options_from_collection_for_select(@races, 'id', 'name') %>
      <%= f.select :race_id,  options,{},{class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :sex, "Sexo", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :sex, ["Hembra","Macho","Otro"],{},{class: 'form-control'}%>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :location,"¿Dónde lo encontraste?", class: "col-sm-2 control-label", for:"gmaps-input-address" %>
	   <div class="col-sm-10">
        <%= f.text_field :location,class: "form-control",id:"gmaps-input-address",placeholder:"Empieza escribiendo una dirección..."%>
        <div id='gmaps-error'></div>
        <div id='gmaps-canvas' class=" hidden-sm hidden-xs"></div>
	   </div>

  </div>

  <div class="form-group">
    <%= f.label :description,"Descripción", class: "col-sm-2 control-label" %>
	   <div class="col-sm-10">
        <%= f.text_area :description, class: "form-control",rows: "5" %>
	   </div>
  </div>

  <div class="form-group">
    <%= f.label :image_id,"¡Sube una foto del animal!", class: "col-sm-2 control-label" %>
     <div class="col-sm-10">    
        <%= file_field_tag "images[]", type: :file, multiple: true,class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "¡Listo!",class: "btn btn-default" %>
    </div>  
  </div>
<% end %>
