<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "centered-columns" %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag "gmaps" %>
  <script>
    $(document).ready(function() { 
  if( $('#gmaps-canvas').length  ) {
    gmaps_init();
    autocomplete_init();
  }; 
  

});
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
        <h1 class="page-header text-center">Busca un animal encontrado</h1>
        <h5 class="text-center"> Utiliza los filtros de abajo que te ayudaran a especificar tu busqueda.</h5>
  </div>
  <form action="/animals">
    <div class="row row-centered">
      <div class="col-xs-8 col-md-8 col-centered">
        <label for="gmaps-input-address" class="control-label">Dirección</label>
        <input type="text" name="location" class="form-control" id="gmaps-input-address" value="<%=params[:location]%>">
        <div id='gmaps-error'></div>
                <div id='gmaps-canvas' class=" hidden"></div>
      </div>
      <div class="col-xs-4 col-md-2  col-centered">
        <button type="submit" class="btn btn-default">Listo!</button>
      </div>
    </div>
    
    <div class="row row-centered">
      <div class="col-xs-4 col-md-2  col-centered">
        <label for="animal">Animal</label>
       
         <% option = options_for_select(["Perro","Gato","Otro"],:selected=> params[:animal_type]) %>
        <%= select_tag :animal_type,  option, {:class=>'form-control', :include_blank=>"Todas"}%>
      </div>

      <div class="col-xs-4 col-md-2  col-centered">
        <label for="raza">Raza</label>
<!--        <select class="form-control" id="raza">
          <option>Pitbull</option>
          <option>Pastor Alemán</option>
        </select>-->
        <% @races=Race.all %>
    <% options = options_from_collection_for_select(@races, 'id', 'name',:selected=> params[:race]) %>
    <%= select_tag :race,  options, {:class=>'form-control', :include_blank=>"Todas",}%>
      </div>

      <div class="col-xs-4 col-md-2  col-centered">
        <label for="sexo">Sexo</label>
<!--        <select class="form-control" id="sexo">
          <option>Cualquiera</option>
          <option>Macho</option>
          <option>Hembra</option>
        </select> -->
        <% options2 = options_for_select(["Macho","Hembra"],:selected=> params[:sex]) %>
        <%= select_tag :sex,  options2, {:class=>'form-control', :include_blank=>"Cualquiera"}%>

      </div>

      <div class="col-xs-4 col-md-2  col-centered">
        <label for="fecha">Fecha</label>
        <input name="date" type="date" id="fecha" value="<%=params[:date]%>"class="form-control">
      </div>

      <div class="col-xs-4 col-md-2  col-centered">
        <label for="sort">Ordenar por</label>
        <select class="form-control" id="sort">
          <option>Recientes</option>
          <option>Antiguos-</option>
          <option>Cercanía</option>
          <option>Raza</option>
          <option>Sexo</option>
        </select>
      </div>

    </div>
  </form>
</div>


<div class="row row-centered">
<div class="panel panel-default col-md-8 col-centered">
<% @animals.each do |animal| %>
<div class="well search-result">
  <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-5 col-lg-4">
          <% unless animal.images.empty? %>
            <%= link_to image_tag(animal.images.first.image.url(:original), :class=>"img-responsive" ), animal%>
            <% end %>
            
        </div>
        <div class="col-xs-6 col-sm-9 col-md-7 col-lg-8 title">
            <h3><%= animal.location%></h3>
            <p><%= animal.description %>.</p>
            <p><%= link_to 'Ver más', animal %></p>
        </div>
  </div>
</div>
<%end%>
</div>
</div>

<!--<table>
  <thead>
    <tr>
      <th>Animal type</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Location</th>
      <th>Description</th>
      <th>User</th>
      <th>Race</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.animal_type %></td>
        <td><%= animal.age %></td>
        <td><%= animal.sex %></td>
        <td><%= animal.location %></td>
        <td><%= animal.description %></td>
        <td><%= animal.user.name   %></td>
        <td><%= animal.race.name %></td>
        <td><%= animal.created_at %></td>
        <td><%= link_to 'Show', animal %></td>
          <td>
          <% if can? :update, animal %>
              <%= link_to 'Edit', edit_animal_path(animal) %>
          <% end%>
          </td>
        
        <td>
        <% if can? :destroy, animal %>
          <%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Animal %>
<%= link_to 'New Animal', new_animal_path %>
<% end %>

-->