<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "centered-columns" %>
  <%= stylesheet_link_tag "ejemploPerdido" %>
  <%= stylesheet_link_tag "photoswipe" %>
  <%= stylesheet_link_tag "default-skin" %>
<% end %>

<% content_for :js do %>

  <%= javascript_include_tag "gmaps" %>
  <%= javascript_include_tag "photoswipe" %>
  <%= javascript_include_tag "photoswipe-ui-default" %>
  <script>
    $(document).ready(function() { 
      if($('#map').length ){
        onlymap("<%=@animal.location%>");
      }
      <% if @animal.images.present? %>
            var openPhotoSwipe = function() {
            var pswpElement = document.querySelectorAll('.pswp')[0];
      
            // build items array
            var items = [
              <% @animal.images.each do |attach| %>
              {
                src: '<%=image_path attach.image%>'
                <%@dim=Paperclip::Geometry.from_file(attach.image)%>,
                w: <%=@dim.width.to_i%>,
                h: <%=@dim.height.to_i%>
              },
              <% end %>
            ];
          
          // define options (if needed)
            var options = {
                   // history & focus options are disabled on CodePen        
              history: false,
              focus: false,
      
              showAnimationDuration: 0,
              hideAnimationDuration: 0
              
            };
          
            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
          };
      <% end %>
      
      
      document.getElementById('btn').onclick = openPhotoSwipe;
    });
  </script>

<% end %>

<div class="container-fluid">
    <div class="row row-centered">
    <div class="panel panel-default col-xs-12 col-md-8 col-centered">
      <div class="col-md-4">
        <img src="https://www.petdarling.com/articulos/wp-content/uploads/2014/05/perro-perdido-que-hago.jpg" class="img-responsive" alt="Image">
                <dl class="dl-horizontal">
          <dt>Usuario</dt>
          <dd><%=@animal.user.name%></dd>
          <hr>
          <dt>N° de contacto</dt>
          <dd><%=@animal.user.phone%></dd>
          <hr>
          <dt>Email</dt>
          <dd><%=@animal.user.email%></dd>
        </dl>






<button id="btn" class="btn btn-default"><i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
Mas fotos</button>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <div class="pswp__container">
            <!-- don't modify these 3 pswp__item elements, data is added later on -->
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Cerrar"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Pantalla completa"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom +/-"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Anterior">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Siguiente">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>








      </div>
      <div class="panel-body col-md-8 ">
        <dl class="dl-horizontal">
          <dt>Animal</dt>
          <dd><%=@animal.animal_type%></dd>
          <hr>
          <dt>Raza</dt>
          <dd><%=@animal.race.name%></dd>
          <hr>
          <dt>Sexo</dt>
          <dd><%=@animal.sex%></dd>
          <hr>
          <dt>Ubicación</dt>
          <dd><%=@animal.location%></dd>
          <hr>
          <dt>Descripción</dt>
          <dd><%=@animal.description%></dd>
          <hr>
          
          <dt>Comparte!</dt>
          <dd>
            <ul class="share-buttons">
          <li>
          <a href="https://www.facebook.com/sharer/sharer.php?u=#url&t=" title="Compartir en Facebook" target="_blank">
          
           <%=image_tag("social_flat_rounded_rects_svg/Facebook.svg", alt: "" )%>
          </a>
          </li>
          <li>
          <a href="https://twitter.com/intent/tweet?source=#&text=:%20" target="_blank" title="Tweet">
          
           <%=image_tag("social_flat_rounded_rects_svg/Twitter.svg", alt: "" )%>
          </a>
          </li>
          <li>
          <a href="https://plus.google.com/share?url=#url" target="_blank" title="Compartir en Google+">
          
           <%=image_tag("social_flat_rounded_rects_svg/Google.svg", alt: "" )%>
          </a>
          </li>
        </ul>
          </dd>

        </dl>

        <div class="col-md-12" id="map" style="height:200px;"></div>

      </div>
      

    </div>
  </div>
</div>





<p id="notice"><%= notice %></p>

<!--Datos de animal -->
<p>
  <strong>Animal type:</strong>
  <%= @animal.animal_type %>
</p>
<p>
  <strong>id:</strong>
  <%= @animal.id %>
</p>
<p>
  <strong>Age:</strong>
  <%= @animal.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @animal.sex %>
</p>

<p>
  <strong>Location:</strong>
  <%= @animal.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @animal.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @animal.user.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @animal.race.name %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>


<!--Fotos de animal -->


<div class="row">
  <ul class="thumbnails files">
    <% unless @animal.images.empty? %>
      <% @animal.images.each do |pic| %>
        <li class="span3" id="image_<%= pic.id %>">
          <div class="thumbnail">
            <!-- <%= image_tag pic.image.url(:thumb) %> -->
            <%=link_to image_tag(pic.image.url(:thumb)), pic.image.url(:original), :popup=>['original_image', 'height=700,width=900'] %>
            <% if can? :destroy, pic %>
              <%=
                link_to "Delete image", [@animal,pic],
                :data => { :confirm => "Are you sure?" },
                :method => :delete
              %>
            <% end %>   
            <div class="caption">
              <p style="text-align: center;">
              <!-- <%= link_to "Edit image", image_path(pic) %> -->
              </p>
            </div>
          </div>
       </li>
      <% end %>
    <% end %>
  </ul>
</div>



<!--Listar todos los comentarios del animal mostrado -->

  <table>
    <tr>
      <th>Comentario</th>
      <th>Usuario</th>
      <th>Creado</th>
      <th>asd</th>
    </tr>
    <tr>
      <% @animal.comments.each do |comment|%>
      <td><%= comment.description %></td>
      <td><%= comment.user.name %></td>
      <td><%= comment.created_at %></td>
      <td><%= link_to 'Edit',edit_animal_comment_path(@animal,comment)%></td>
      <td><%= link_to 'Destroy', [@animal,comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>

<!--Formulario para ingresar comentarios -->


<%= form_for [@animal,@comment] do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :description, "Comentario" %><br>
    <%= f.text_area :description %>
<!--  </div>
  <div class="field">
    <%= f.label :animal_id %><br>
    <%= f.text_field :animal_id %>
  </div>
  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.text_field :pet_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  -->

  <div class="actions">
  
    <%= f.submit %>
  </div>
<% end %>

