<div class="container-fluid">
  <div class="row row-centered">
    <div class="panel panel-default col-xs-12 col-md-8 col-centered">
      <div class="row text-center">
        <h1 class="page-header">Editando animal...</h1>
        <h5> ¿Encontraste un animal?, ingresa los siguientes datos para ayudar a tu rescatado y así encontrar a su dueño.</h5>
			<%= render 'form' %>
      </div>
    </div>
  </div>
</div>	

<% content_for :js do %>
	<%= javascript_include_tag "jquery.backstretch"  %>
	<%= javascript_include_tag "gmaps" %>
  	<script>
    	$(document).ready(function() { 
  			if( $('#gmaps-canvas').length  ) {
    			gmaps_init();
    			autocomplete_init();
    			<% if (@risk.latitude && @risk.longitude) %>
 				var lat = <%= @risk.latitude%>;
    			var lng = <%= @risk.longitude%>;
    			var newLatLng = new google.maps.LatLng(lat, lng);
    			marker.setPosition(newLatLng);
    			map.setCenter(newLatLng);
    			<%end%>
  			}; 
  		});
  	</script>
<% end %>