<!DOCTYPE html>
<html lang="es">
<head>
  <title>Rescate Animal Maipú</title>
  <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="es">
    <meta property="og:url"           content=<%=request.original_url%> />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Rescate Animal Maipú" />
    <meta property="og:description"   content="Aplicación de ayuda animal" />
    <% if content_for?(:meta)%>
    <%= yield :meta %>
    <% else %>
    <meta property="og:image"         content="<%=image_url("logo.jpg")%>" />
    <meta property="og:image:secure_url" content="<%=image_url("logo.jpg")%>" />
    <% end %>    
    
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFkGU6pJyyWqKe_ViHOQU_AZaXxXCVZAU&libraries=places"></script>

  <%= stylesheet_link_tag 'application', media: 'all'%>
  <% @decodedVapidPublicKey = Base64.urlsafe_decode64(Rails.application.secrets.VAPID_PUBLIC_KEY).bytes%>
  <script>
    window.vapidPublicKey = new Uint8Array(<%= @decodedVapidPublicKey %>);
    <% if user_signed_in? %>
      localStorage['SWKey'] = <%= current_user.id%>;
    <% elsif %>
      localStorage['SWKey'] ="-";
    <% end %>
  </script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'serviceworker-companion' %>
  <link rel="manifest" href="/manifest.json" />
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= yield :js%>
  <%= yield :stylesheets%>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
<% if user_signed_in? %>
  Signed in as <%= current_user.email %>. Not you?
  <%= link_to "Edit profile", edit_user_registration_path %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'log-out-btn'%>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
<% end %>
-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_path%>">
        <%=image_tag("logoram.png", alt: "example", id: "not-responsive")%>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li class="navbar-li"><%=link_to "Acerca de RAM",welcome_ram_path, class: "grande"%></li>
      <li class="navbar-li dropdown">
          <a href="#" class="dropdown-toggle grande" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buscar<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=link_to "Animales encontrados", animals_path %></li>
            <li><%=link_to "Animales en riesgo",risks_path %></li>
            <li><%=link_to "Mascotas perdidas",pets_path %></li>
            <li><%=link_to "Mascotas en adopción",adoptions_path %></li>
          </ul>
        </li>
        <li class="navbar-li"><%=link_to "Información de Interés",information_index_path  , class: "grande"%></li>
        <li class="navbar-li"><%=link_to "Eventos",events_path  , class: "grande"%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
            <% if user_signed_in? %>
              <% if current_user.avatar.present? %>
            <%=image_tag(current_user.avatar(:thumb), alt: "example",width:"50 important!",height: "50", class: "img-circle", id: "not-responsive" )%>
              <% else %>
                <%=image_tag("profile-pictures.png", alt: "example",width:"50",height: "50", id: "not-responsive" )%>
              <%end %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user.notifications.where(seen: false).count > 0 %>
              <li><a href="/notifications">Notificaciones<span class="badge notification-badge"><%=current_user.notifications.where(seen: false).count%></span></a></li>
            <% elsif %>
              <li><a href="/notifications">Notificaciones</a></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <% if current_user.admin? %>
            <li><a href="/admin/users">Administrar usuarios</a></li>
            <li role="separator" class="divider"></li>
            <% end %>
            <% if current_user %>
             <li><a href="/myposts/all_animals">Mis publicaciones</a></li>
            <li role="separator" class="divider"></li>           
            <% end %>
            <li><%= link_to "Editar perfil", edit_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete, class: 'log-out-btn'%></li>
          <% else %>
            <%=image_tag("profile-pictures.png", alt: "example",width:"50",height: "50" )%>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Registrarse", new_user_registration_path %></li>
            <% end %>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content"  id="loginContainer">
<% if flash.present? %>

  <% flash.each do |name, msg| %>
      <% if name=="alert"%>
      <div class="alert alert-danger">
      <% else %>
      <div class="alert alert-success">
      <% end %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
      </div>
  <% end %>

<% end %>

<%= yield %>
</div>



</div>


<!--<div class="footer">
      <div class="container">
        
        <div class="col-md-10 follow-us">
          <h4>Siguenos </h4>
          <div class="social-icons">
            <i class="facebook"></i>
            <i class="twitter"></i>
            <i class="pinterest"></i>
            <i class="googlepluse"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    -->
<script>
$(".log-out-btn").click(function(){
    navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
   ServiceWorkerRegistration.unregister().then(function(boolean) {
      console.log('[Service Worker] Unregister')
});
});
})

$("body").backstretch('<%= image_path("muchatransparencia.png") %>', {speed: 150});
</script>
</body>
</html>
